html{
    min-height: 100%;
  }
  
  body {
    background: linear-gradient(to bottom right, #ee0979 0%, #ff6a00 100%);
  
    width: 100%;
  
    margin: 0;
    padding: 0;
  
    background-repeat: no-repeat;
    background-attachment: fixed;
  }